@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
}

img{
    max-width: 2000px;
}

.logo-imagen{
    max-width: 60px;
}

.navbar-brand{
    margin-right: 50px;
}

.reborde{
    background-color: #7c7c94;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.reborde p{
    font-size: 12px;
    font-weight: bolder;
    margin: 0;
    color: white;
    text-shadow: 0px 0px 15px black;
}

.carousel-inner{
    height: auto;
    max-height: 750px;
}

.seccion-nuevos{
    display: flex;
    font-weight: bold;   
    align-items: center;
    justify-content: center;
    color: #7c7c94;
    margin-top: 60px;
    margin-bottom: 100px;
    
}

.seccion-nuevos h3{
    margin: 10px;
    font-weight: bolder;
}

.seccion-nuevos img{
    width: 100px;
}

.navbar-collapse{
    justify-content: end;
    margin-right: 50px;
}

.seccion-nuevos-productos{
    display: flex;
    justify-content: space-around;
}

.card{
    border-radius: 0!important;
    padding: auto!important;
    margin: auto;
}


.card-img{
    width: 300px;
    margin: auto;
    opacity: 1;
    transition: 0.5ms;
}

.card-img-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-overlay h3{
    color: white;
    text-shadow: 0 0 4px rgb(37, 37, 37);
}
